/* LoginStyle.scss */

@import './commons';

.dashboard {
    li {
        list-style-type: none;
    }
    .project_box {
        list-style-type: none;
        padding: 1em;
        text-align: left;
    }
    .project_list {
        background: #afafaf69;
        padding: 23px 30px;
        min-height: 180px;
        cursor: pointer;

    }
    .flow-title {
        font-size: 26px;
        font-weight: normal;
        font-family: Montserrat;
        margin-top: 0;
        line-height: 35px;
    }
    h4 {
        font-size: 20px;
        opacity: 0.58;
    }
    img {
        width: 30px;
        float: right;
        opacity: 0.8;
    }
    .dashboard-title {
        font-size: 50px;
        font-family: Montserrat;
        padding-left: 15px;
        margin-bottom: 60px;
    }
    .dashbox {
        padding: 0;
    }
    .flow-count{
        font-size: 16px;
        font-family: Montserrat;
        opacity: 0.60;
        line-height: 30px;

    }
}