/* Flow4.scss */

@media (min-width: 1200px) {
    .container {
        width: 95% !important;
    }
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 0 !important;
    }
}

.toolbarContainer {
    text-align: right;
    padding: 10px 0;
    button {
        img {
            width: 25px !important;
            height: auto !important;
        }
    }
}

.tooltip_container {
    background: #6D6D6D;
    top: 0;
    padding: 5px 10px;
    font-size: 12px;
    position: absolute;
}

.navbar-header {
    img {
        max-width: 250px;
    }
}

.graphContainer {
    cursor: pointer;
}

.graphContainer {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    overflow-x: auto;
    height: 695px;
    /* Large Devices, Wide Screens */
    @media (max-width: 1300px) {
        height: 695px;
    }
    &.highlighted {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.swimlane-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    padding: 0 15px;
    .swimlane-first {
        margin-bottom: 0 !important;
        height: 155px !important;
    }
    .swimlane {
        position: relative;
        right: 0;
        left: 0;
        /*height: 20%;*/
        height: 100px;
        z-index: -9999;
        border-bottom: 4px solid rgba(255, 255, 255, 0.1);
        &.highlighted {
            background-color: rgba(255, 255, 255, 0.3);
        }
        span {
            position: absolute;
            color: rgba(255, 255, 255, 0.6);
            left: 10;
            bottom: 0;
        }
        &#swimlane-1 {}
        &#swimlane-2 {
            margin-bottom: 30px;
        }
        &#swimlane-3 {
            margin-bottom: 20px;
        }
        &#swimlane-4 {
            border-bottom: 0px;
            margin-bottom: 30px;
        }
        &#swimlane-5 {
            // height: 60%;
            height: 380px;
            border-bottom: 0px;
            //margin-bottom: 30px;
            span {
                top: 48%;
            }
        }
        &#swimlane-6 {
            margin-bottom: 30px;
            span {
                top: 0;
            }
            border-bottom: 0px;
            border-top: 4px solid rgba(255, 255, 255, 0.1);
            height: 155px !important;
        }
    }
    #microflows-row {
        .swimlane {
            border: 0px;
            span {
                /*top: 43%;*/
                position: relative;
            }
            .background {
                position: absolute;
                background: rgba(255, 255, 255, 0.1);
                left: 0;
                right: 0;
                top: 10;
                bottom: 10;
                z-index: -2;
                height: 100px;
                display: flex;
                align-items: center;
                &.highlighted {
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }
            &#swimlane-2 {
                .background {
                    top: 20;
                }
                span {
                    /*top: 48%;*/
                }
            }
            &#swimlane-4 {
                .background {
                    bottom: 20;
                }
                span {
                    /*top: 38%;*/
                }
            }
        }
    }
}

.graph_container div:first-child {
    width: 100%;
    height: 100px;
    margin: auto auto 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    position: relative;
}

.graph_container div:nth-child(2) {
    width: 100%;
    height: 100px;
    margin: auto auto 20px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    position: relative;
}

.graph_container div:nth-child(3) {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    position: relative;
    top: 20%;
    margin: auto auto 20px;
    padding-top: 20px;
}

.graph_container div:nth-child(4) {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    position: relative;
    margin: auto auto 20px;
    padding-top: 20px;
}

.graph_container div:nth-child(5) {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    position: relative;
    margin: auto auto 20px;
    padding-top: 20px;
}

.graph_container div:nth-child(6) {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    position: relative;
    margin: auto auto 20px;
    padding: 20px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #949292;
}

#popup_block {
    height: auto;
    position: absolute;
    color: white;
    top: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    transition: opacity 1s;
    .fade {
        opacity: 0;
    }
    label {
        background: rgba(255, 255, 255, 0.3);
        padding: 1em;
        width: 28%;
        font-weight: normal;
    }
}

.sidebar-left {
    width: 310px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    @media(max-width: 991px) {
        width: 100%
    }
}

.main-content {
    width: calc(100% - 440px);
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    @media(max-width: 991px) {
        width: 100%
    }
}

.sidebar-right {
    width: 130px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    @media(max-width: 991px) {
        width: 100%
    }
}

.container {
    .navbar-header {
        margin: 0 15px;
        @media (max-width: 767px) {
            margin: 0;
        }
    }
}

.flow-drag-element {
    margin-top: 140px !important;
    margin-bottom: 140px !important;
}

.flow-target-element {
    margin-top: 55px !important;
}

.modal-body label {
    color: black;
}

.modal-header {
    background: darkgray;
}

.modal-body {
    padding: 25px !important;
    text-align: left;
}

#removeflow_popup, #microflow_popup {
    position: absolute;
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1000;
}

#removeflow_popup div , #microflow_popup div{
    background: white;
    width: 30%;
    margin-left: 32%;
    margin-right: 32%;
    padding-bottom: 15px;
}

#removeflow_popup container, #microflow_popup container {
    width: 100%
}

#removeflow_popup label {
    padding: 0 15px;
    margin-bottom: 5px;
}

#removeflow_popup h4 , #microflow_popup h4{
    text-align: center;
    padding: 1em;
    background: rgba(31, 31, 31, 0.48);
}

#removeflow_popup span, #microflow_popup span{
    color: black;
}
#removeflow_popup input {
    margin-right: 5px;
}

#removeflow_popup #removeflow_btn, #microflow_popup #microflow_add {
    margin-top: 10px;
    background-color: #575757;
    text-align: center;
    width: 20%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    border: 0;
}
#removeflow_popup #removeflow_btn:hover{
    background-color: rgba(0,0,0,.5);
}
#removeflow_popup h4 span, #microflow_popup h4 span{
    color: white;
    float: right;
    cursor: pointer;
}

#microflow_popup label{
    width: 100%;
    padding: 0 15px;
}
#microflow_popup input{
    margin-right: 10px;
}
.background_div{
    padding: 9px;
}
.background_div span{
    color: white !important;
    top: 0 !important;
}
.flow_download{
    background-color: #464646 !important;
    border-color: #7d7d7d !important;
}
#png_header_logo{
    width: 200px;
    margin-bottom: 2em;
    margin-left: 1.6em;
    margin-top: 1em;
}
#png_header_logo #flowGraph{
    margin-left: 0.5em;
}
.save_project_btn{
    margin-top: 2em;
    border-radius: 3px !important;
    padding: 1em 2em !important;
    background: white;
    border: 1px solid white !important;
    &:hover{
        background: none;
    }
    span{
        color: #2d72ad !important;
    }
}