/* flowLayoutStyle.scss */

@import './commons';

.input-text{
	background: rgba(0,0,0,0);
	border: none;
	font-size: 72px;
	color: white;
	text-align:center;
	margin-bottom: 200px;

	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:    rgba(255,255,255,0.4)
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    rgb(255,255,255);
	   opacity:  0.4;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    rgb(255,255,255);
	   opacity:  0.4;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    rgba(255,255,255,0.4);
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
	   color:    rgba(255,255,255,0.4);
	}
}

.jumbotron{
	background: transparent;
	.vertical-center {
	  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
	  background: transparent !important;
	}
}

.vertical-center {
	margin-top: -70px;
  min-height: 95%;  /* Fallback for vh unit */
  min-height: 95vh; 

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}