/* Flow4.scss */

.toolbarContainer{
	text-align: right;
}

.graphContainer{
	
	border-top:2px solid rgba(255,255,255,0.2); 
    border-bottom:2px solid rgba(255,255,255,0.2); 
	overflow: hidden;
    overflow-x: auto;
	height: 745px;
	/* Large Devices, Wide Screens */
	@media (max-width: 1300px) {
		height: 400px;
    }
    
    &.highlighted{
        background-color: rgba(255,255,255,0.3);
    }

}
.swimlane-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

	.swimlane{
    	position: relative;
    	right:0;
    	left: 0;
    	height: 20%;
    	z-index: -9999;
    	border-bottom: 4px solid rgba(255,255,255,0.1);
		
        &.highlighted{
            background-color: rgba(255,255,255,0.3);
        }

		span{
			position: absolute;
			color: rgba(255,255,255,0.6);
			left: 10;
			bottom: 0;
		}

    	&#swimlane-1{
			
    	}
    	&#swimlane-2{
    		top: 20%;
    	}
    	&#swimlane-3{
    		top: 40%;
    	}
    	&#swimlane-4{
    		top: 60%;
    		border-bottom: 0px;
    	}
    	&#swimlane-5{
    		top: 20%;
    		height: 60%;
    		border-bottom: 0px;
    		span{
    			top:48%;
    		}
    	}
    	&#swimlane-6{
    		span{
    			top:0;
    		}
    		top: 80%;
    		border-bottom: 0px;
    		border-top: 4px solid rgba(255,255,255,0.1);

    	}
    }

    #microflows-row{
    	.swimlane{
    		border:0px;
        
            span{
                top: 43%;
            }

            .background{
                position: absolute;
                background: rgba(255,255,255,0.1);
                left: 0;
                right: 0;
                top: 10;
                bottom: 10;
                z-index: -2;
                &.highlighted{
                    background-color: rgba(255,255,255,0.3);
                }
            }
            &#swimlane-2{
                .background{
                    top: 20;
                }
                span{
                    top: 48%;
                }
                
            }
            &#swimlane-4{
                .background{
                    bottom: 20;
                }
                span{
                    top: 38%;
                }
            }
    	}
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 5px;
    cursor: pointer !important;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 2px;
    background: white;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: #949292;
}