/* HeaderStyle.scss */

.navbar-default{
  background-color: transparent !important;
  border: none !important;
  @media (max-width: 768px) { 
    background-color: rgba(0,0,0,0.2) !important;
  }
  .navbar-toggle{
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

// Hamburger menu bars
.icon-bar{
  background-color: white !important;
}


img.profile-picture {
    border-radius: 999px;
    margin-top: 7px;
    width: 50px;
}

.logout{
  color: white !important;

  &:hover{
    color: rgba(0,0,0,0.3);
  }
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 80px;
  width:100%;
  background: linear-gradient(rgba(0,0,0,0.2), transparent);
  
  #signIn{
      height: 70px;
      line-height: 47px;
      float: right;
  }
  img{
    cursor: pointer;
  }
}

