/* LearnHowStyle.scss */

/*.info-container{
  position:absolute;
  cursor: pointer;
  right: 150px;
  bottom: 15%;
}*/
.info-container {
    position: relative;
    cursor: pointer;
    bottom: 0;
}
/*.round{
  position:absolute;
  width:80px;
  height:80px;
  background-color: transparent;
  border: 30px solid white;
  border-radius: 999%
}*/
.round {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 30px solid white;
    border-radius: 999%;
    right: 0;
}
  /*position: absolute;
  float: right;
  padding: 5px;
  padding-right:70px;
  top: 10px;
  left: -190px;
  background-color: rgba(255,255,255,0.4);

  border-radius: 5px;
  transition: all 0.1s;
  overflow: hidden;
  width: 220px;*/

#info-field {

  position: absolute;
    float: right;
    padding: 5px;
    padding-right: 70px;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    overflow: hidden;
    width: 220px;
    right: 60px;

  #title{
    font-size: 12px;
    color: rgba(255,255,255,0.6);
  }

  p{
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 0px;
    margin:4px;
  }
}

.info-box{
  position: relative;
}

.shadow{
  box-shadow: 0px 0px 40px rgba(0,0,0,0.2);
}